<div class="box">
    <div class="form-group">
        <div class="row">

            &nbsp;&nbsp;<h4>Status da entrega</h4> 
            <button class="btn btn-primary btn-sm" style="margin-left: 600px;" [routerLink]="''">Voltar</button>
        
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Código</th>
                        <th scope="col">Status</th>
                        <th scope="col">Data de atualização</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let track of delivery">
                        <th scope="row">{{ track.track }}</th>
                        <td>{{ track.status }}</td>
                        <td>{{ track.dateUpdate }}</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

</div>