body{
    background: #8dafff ;
  }
  
  html, body { height: 100%; }
  body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
  
  .box{
    padding: 10px 15px;
    border-radius: 5px;
    width: 900px;
    position: absolute;
    background: #f1f1f1;
    top: 100px;
    margin-left: -450px;
    left: 50%;
  }
  

  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
