<div class="box">
    <h1>Quick Send Transportadora</h1> <br />
    <h2>Rastreamento de objetos</h2>
    <p>
        Digite seu código de rastreio.
    </p>

    <div class="form-group">
        <div class="row">
            <input class="form-control col-md-5 mr-1 ml-3" [(ngModel)]="codeTrack" placeholder="Insira o código" />

            <button class="btn btn-primary form-control col-md-2" [routerLink]="'/detail/' + codeTrack">Buscar</button>
        </div>
    </div>

</div>